body {
  margin: 0px;
  // display: flex;
  padding-left: 200px;

  & > form {
    display: flex;
    flex-direction: column;
    // flex: 200px 0 0;
    // height: 100vh;
    top: 20px;
    left: 20px;
    width: 160px;
    position: absolute;

    & > h2 {
      margin: 0px;
      margin-bottom: 4px;
    }
    & > label {
      margin-top: 10px;
      margin-bottom: 4px;
    }

    & > button {
      margin: 10px 0px;
    }

    .choose-algorithm {
      margin: 10px 0px;
      &:hover {
        > div:not(:hover) {
          &.chosen {
            opacity: 0.6;
          }

          &:not(.chosen) {
            opacity: 0.3;
          }
        }
      }

      > div {
        transition: opacity 0.14s;
        &:not(:first-child) {
          margin-top: 3px;
        }
        label {
          margin-left: 3px;
          cursor: pointer;
        }
        input {
          cursor: pointer;
        }
        display: flex;
        align-items: flex-start;
      }
    }
  }

  & > main {
    min-height: 100vh;
    // width: calc(200vw - 200px);
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px 5px;
  }
}

.implementation-display {
  font-size: 1.3em;
  margin: 10px;
  display: flex;
  // TODO fix that height does not need to be static anymore
  max-height: 400px;
  overflow: hidden;

  .sidebar {
    width: 150px;
    // width: min-content;

    display: flex;
    flex-direction: column;

    .meta {
      margin-bottom: 10px;
    }

    .improvement-timeline {
      // TODO fix chrome firefox difference (scrollbar y results in scrollbar x in firefox)
      padding-right: 17px;
      overflow-y: auto;
    }
  }
}

.improvement {
  font-size: 0.6em;
  &:not(:first-child) {
    margin-top: 8px;
  }

  display: grid;

  grid-template-columns: 1fr 1fr;

  .index {
  }

  .time-difference,
  .total-time-diff {
    &:not(:empty) {
      &::after {
        content: "ms";
        margin-left: 3px;
      }
    }
  }

  .length {
  }

  .length-difference {
    &.negative {
      color: red;

      &::before {
        content: "+";
      }
    }

    &.positive {
      color: green;

      &::before {
        content: "-";
      }
    }

    &::before {
      margin-right: 3px;
    }
  }
  // margin
}
